@media (max-width: 768px) {
    .hide {
        display: none;
    }
    .container {
        padding: 0;
    }
    
    .left_section {
        width: 100%;
        height: 540px;
        
    }
    .right_section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 0;
        height: auto;
        border-left: 10px solid rgb(241, 241, 132);
        border-right: 10px solid rgb(241, 241, 132);
        border-top: 10px solid rgb(241, 241, 132);
    }
    .text_box {
        font-size: 16px;
        padding-bottom: 10px;
        border: none;
        margin-top: 10px;
    }
    .reklama1,
    .reklama2,
    .reklama3,
    .reklama4 {
        width: 49%;
        height: 136px;
    }
    .reklama2 {
        border-top: 0;
    }
    .border {
        border-right: 15px solid rgb(235, 132, 35);
    }
    header {
        margin-bottom: 0;
    }
}
@media (min-width: 768px) {
    .show {
        display: none;
    }
}