body {
    background-color: rgb(241, 241, 132);
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 12px 12px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(83, 174, 235);
    height: 68px;
    margin-bottom: 10px;
}
a {
    margin-top: 1px;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 0 13px;
}
.reklama2,
.reklama3,
.reklama4,
.contact {
    border-top: 10px solid rgb(241, 241, 132);
}
.middle {
    display: flex;
    flex-wrap: wrap;
}
.left_section,
.right_section {
    height: calc(100vh - 10rem - 36px);
    min-height: 14rem;
}
.left_section {
    width: 75%;
}
.right_section {
    width: 25%;
    padding-left: 10px;
}
.text_box {
    background-color: rgb(79, 173, 70);
    height: 100%;
    border-right: 15px solid rgb(235, 132, 35);
    padding: 30px 10px 30px 30px;
    color: #fff;
    font-size: 20px;
    overflow: hidden;
}
.reklama1,
.reklama2,
.reklama3,
.reklama4 {
    background-color: rgb(38, 78, 97);
    height: 20%;
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    
}
.contact {
    height: 5rem;
    background-color: rgb(15, 115, 177);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

