body {
    background-color: rgb(241, 241, 132);
}
.container {
    width: 100%;
    max-width: 1600px;
    min-width: 1400px;
    margin: 0 auto;
    padding: 12px 12px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(83, 174, 235);
    height: 5vw;
    margin-bottom: 10px;
}
a {
    margin-top: 1px;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 0 13px;
}
.reklama2,
.reklama3,
.reklama4,
.contact {
    border-top: 10px solid rgb(241, 241, 132);
}
.middle {
    display: flex;
    flex-wrap: wrap;
}
.left_section,
.right_section {
    height: calc(100vh - 10rem - 12px);
    min-height: 15rem;
}
.left_section {
    width: 60%;
}
.right_section {
    width: 40%;
    padding-left: 10px;
}
.text_box {
    background-color: rgb(79, 173, 70);
    height: 100%;
    border-right: 15px solid rgb(235, 132, 35);
    padding: 30px 10px 30px 30px;
}
.reklama1,
.reklama2,
.reklama3,
.reklama4 {
    background-color: rgb(38, 78, 97);
}
.reklama1,
.reklama2,
.reklama3,
.reklama4 {
    height: 20%;
}
.contact {
    height: 5rem;
    background-color: rgb(15, 115, 177);
}

